@charset "UTF-8";
body {
  color: #222222 !important;
  font-family: roboto;
  font-size: 18px;
  font-weight: 300 !important; }

.site {
  background-color: #f0f0f0 !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.fixed {
  position: fixed !important; }

.container {
  max-width: 960px !important;
  padding: 0px; }

.content {
  background: #f6f6f6;
  flex: 1;
  padding-bottom: 60px; }

@media (max-width: 768px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    padding-bottom: 30px; } }
a {
  color: #084db3; }

a:hover {
  text-decoration: underline;
  color: #084db3; }

.active-link {
  font-weight: bold;
  padding-bottom: 4px; }

a.btn {
  color: #084db3;
  border-color: #084db3; }

a.btn:hover {
  color: white !important;
  border-color: #084db3;
  background: #084db3; }

.more {
  margin-bottom: -30px;
  text-align: center; }

.more a {
  display: block; }

.nobold {
  font-weight: normal; }

.video-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 8px solid white;
  background: #e8e8e8; }

.flat {
  margin: 0px;
  padding: 20px; }

h1, h2, h3, h4, h5, h6 {
  color: #222222; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 23px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 15px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 16px; }

dl, ol, ul {
  padding-inline-start: 25px; }

blockquote p {
  margin-bottom: 0px; }

blockquote {
  border-left: 2px solid #222222;
  padding-top: 10px;
  padding-left: 15px;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  color: #949494;
  padding-right: 15px;
  padding-bottom: 10px; }

.subtext {
  font-size: 15px;
  color: #949494; }

hr {
  margin-top: 35px;
  margin-bottom: 20px;
  border-top: 1px dotted #cdcdcd; }

table {
  border-spacing: 10px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%; }

td, th {
  padding-top: 6px;
  padding-bottom: 6px; }

td:first-child {
  padding-right: 15px; }

tr {
  border-bottom: 1px dotted #e8e8e8; }

table tr:last-of-type {
  border-bottom: none; }

.row hr {
  margin-top: 25px; }

@media (max-width: 768px) {
  body {
    padding: 0px; }

  .flat {
    margin: 10px !important;
    padding: 0px; } }
nav {
  padding: 0px !important; }

#navbar-container {
  background: #fafafa;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  border-bottom: 1px dotted #e6e6e6; }

.navbar-logo-text {
  font-size: 38px;
  padding: 0 0 0 15px;
  margin: 0px;
  font-weight: 500; }

.navbar-logo:hover {
  text-decoration: none; }

nav img {
  height: 50px; }

nav a {
  color: #222222 !important; }

.navbar-menu {
  background: #fafafa;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 25px;
  border-bottom: 1px dotted #e6e6e6; }

.navbar-menu-mobile {
  background: #fafafa;
  display: none;
  border-bottom: 1px dotted #e6e6e6; }

.navbar-menu-mobile .col-6 {
  padding-left: 10px;
  padding-right: 10px; }

.navbar-toggler {
  border: 1px solid #222222; }

.navbar-toggler:hover {
  background: white; }

@media (max-width: 768px) {
  #navbar-container {
    padding-left: 20px;
    padding-right: 20px; }

  nav img {
    height: 42px; }

  .navbar-logo-text {
    font-size: 34px;
    padding-left: 10px; } }
@media (max-width: 576px) {
  .navbar-menu {
    display: none; }

  .navbar-menu-mobile {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px; } }
.breadcrumb {
  background: #fafafa !important;
  padding-top: 14px;
  padding-left: 45px;
  padding-right: 42px;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 0px !important;
  border-bottom: 1px dotted #e6e6e6;
  border-radius: 0px !important; }

.breadcrumb a {
  color: #084db3; }

.breadcrumb-item {
  white-space: nowrap; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0px; }

.breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item:last-of-type::after {
  content: ""; }

.breadcrumb-item:last-of-type {
  width: 100%; }

.breadcrumb-item::after {
  padding-left: 6px;
  content: "›"; }

.breadcrumb-item:last-of-type {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-right: 10px; }

.lang-link {
  padding-left: 8px;
  padding-right: 7px;
  border-right: 1px dotted #e8e8e8;
  line-height: 24px;
  font-size: 15px; }

.lang-link:last-child {
  padding-right: 0px;
  border-right: none; }

.lang-link.disabled {
  color: #949494; }

@media (max-width: 768px) {
  .breadcrumb {
    padding-left: 25px;
    padding-right: 22px; }

  .breadcrumb-item:first-of-type {
    padding-left: 0px; } }
.card {
  border: none;
  border-radius: 0px;
  margin-bottom: 30px !important; }

.card-header {
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white; }

h1.card-title {
  padding: 0px;
  margin: 0px;
  font-weight: 400; }

.card-body {
  padding: 30px; }

.profile-col1 {
  padding: 30px;
  padding-right: 45px; }

.profile-col2 {
  padding: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  text-align: right; }

.profile h1 {
  padding-top: 4px;
  font-size: 28px;
  padding-bottom: 20px;
  font-weight: 300; }

.profile h2 {
  font-size: 25px;
  line-height: 36px;
  font-weight: 300; }

.profile img {
  width: 300px;
  opacity: 0.75;
  filter: alpha(opacity=75); }

.profile .btn {
  margin-top: 20px; }

.profile .social-icons {
  padding-top: 30px;
  font-size: 26px;
  text-align: left; }

h2.card-title {
  padding-top: 10px;
  padding-bottom: 5px; }

.card-columns {
  column-count: 2; }

.posts-list {
  width: 100%;
  margin-bottom: 15px; }

.posts-list td:last-child {
  text-align: right; }

.posts-list td {
  width: 100%;
  vertical-align: top; }

.posts-list span {
  font-size: 15px;
  white-space: nowrap;
  color: #949494; }

.row {
  margin-left: 0px;
  padding-left: 35px;
  margin-right: 0px;
  padding-right: 35px; }

.project-grid {
  padding-top: 10px;
  margin-left: -10px;
  padding-left: 5px;
  margin-right: -10px;
  padding-right: 5px;
  margin-bottom: 15px; }

.project {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  margin-bottom: 10px; }

.project img {
  width: 100%;
  border: 2px solid black;
  border-radius: 0px; }

.project img:hover {
  opacity: 0.5; }

.project:nth-child(4) {
  display: none; }

.text-card {
  margin-bottom: 30px; }

@media (max-width: 850px) {
  .profile img {
    width: 200px; } }
@media (max-width: 768px) {
  .profile img {
    display: none; } }
@media (max-width: 576px) {
  .card-header {
    padding: 20px; }

  .card {
    margin-bottom: 20px !important; }

  .card-body {
    padding: 25px; }

  .profile-col1 {
    padding: 10px;
    padding-right: 10px; }

  .card-columns {
    column-count: 1; }

  .profile {
    margin-bottom: 5px; }

  .profile .column1 {
    padding-left: 5px; }

  .profile-col2 {
    padding-right: 5px;
    padding-bottom: 5px;
    display: none; }

  .profile h1 {
    padding-top: 14px;
    font-size: 22px;
    padding-bottom: 14px; }

  .profile h2 {
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 25px; }

  .profile img {
    display: none; }

  .profile .social-icons {
    padding-top: 0px;
    font-size: 24px; }

  .home-card h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 24px; } }
@media (max-width: 576px) {
  .col-12 {
    padding-left: 0px !important;
    padding-right: 0px !important; }

  .row {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px !important;
    margin-right: 0px !important; }

  .row.projects {
    margin-bottom: 25px; }

  .project {
    padding-left: 4px;
    padding-right: 4px; }

  .project:nth-child(4) {
    display: block; }

  .posts-list {
    margin-bottom: 20px; } }
article {
  padding-top: 70px;
  padding-left: 0px;
  padding-right: 0px; }

article .page-head {
  margin-bottom: 30px; }

article a {
  font-weight: 400; }

article h1 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 5px; }

article h1 + p {
  margin-top: 15px; }

article hr:last-of-type {
  visibility: hidden; }

article .page-date {
  font-size: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #949494;
  margin-bottom: 0px; }

article h2 + hr {
  visibility: hidden;
  margin-top: 0px; }

.read-more {
  position: absolute;
  top: 44px;
  font-size: 15px;
  font-weight: 400;
  padding: 6px 8px 6px 8px;
  border: none; }

article h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400; }

.section {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

.section-col1 {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  text-align: right; }

.section-col2 {
  margin-top: 0px;
  padding-top: 20px;
  margin-left: 40px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.section h3 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 4px; }

.section h4 {
  color: #949494;
  font-size: 17px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 15px; }

.section .dates {
  display: block;
  font-size: 15px;
  color: #949494;
  padding-top: 3px;
  margin-bottom: 10px; }

.section .tags {
  font-size: 17px;
  margin-top: 0px;
  padding-bottom: 20px; }

.tag {
  color: #737373;
  background-color: #9292921a;
  padding: 5px 7px 5px 7px; }

.section .project-name {
  display: block;
  font-size: 20px;
  font-weight: 400; }

article .post-title {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 5px; }

article img {
  width: 100%;
  border: 8px solid white; }

.patreon-row {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 50px; }

.patreon-badge {
  background: #e85b46;
  padding: 10px 20px 10px 20px;
  color: white;
  border-radius: 9999px;
  font-weight: 400;
  font-size: 15px; }

.patreon-badge:hover {
  background: #e85b46;
  color: white; }

.patreon-badge i {
  padding-right: 10px; }

img.full {
  border: none; }

@media (max-width: 768px) {
  .section-col1 {
    text-align: left;
    padding-bottom: 0px; }

  .section-col1, .section-col2 {
    padding-top: 0px;
    margin-left: 0px;
    border-left: none;
    padding-left: 0px;
    padding-right: 0px; } }
@media (max-width: 576px) {
  article {
    font-size: 95%;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    border: none; }

  article h1 {
    font-size: 26px; }

  article h2 {
    font-size: 23px; }

  .section {
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px; }

  .section .tags {
    border-bottom: 1px dotted #cdcdcd;
    margin-bottom: 20px; } }
@media (max-width: 576px) {
  img.full {
    width: 100%; } }
footer .first {
  background: #e6e6e669;
  font-size: 90%;
  padding-top: 35px;
  padding-bottom: 35px; }

.footer-menu-mobile {
  display: none; }

.footer-menu-mobile .row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

footer .second {
  background: #e6e6e6;
  padding-top: 15px !important;
  padding-bottom: 12px !important;
  padding-left: 15px;
  padding-right: 15px; }

footer a {
  padding: 0px 0px !important; }

footer tr {
  border-color: #cacaca80; }

.social-icons {
  text-align: right;
  font-size: 27px;
  padding-right: 0px !important; }

article .social-icons {
  text-align: center; }

.social-icons a:hover {
  text-decoration: none; }

.social-icons a:last-child {
  padding-right: 0px !important; }

@media (max-width: 576px) {
  footer .first {
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px; }

  .footer-menu {
    display: none; }

  .footer-menu-mobile {
    display: block; }

  footer .col-6 {
    padding-left: 0px;
    padding-right: 0px; }

  footer .second {
    padding-top: 20px !important;
    padding-bottom: 15px !important;
    padding-left: 0px;
    padding-right: 0px; }

  .social-icons {
    font-size: 25px; } }
@media (max-width: 320px) {
  #copyright {
    display: none; }

  footer .social-icons a {
    font-size: 25px;
    padding-right: 5px !important; } }
code {
  background: #e5ecf4; }

.highlight {
  color: #323232;
  background: #e5ecf4; }

.highlight .hll {
  background-color: #323232; }

.highlight .c {
  color: #6680b1; }

/* Comment */
.highlight .err {
  color: #323232;
  background-color: #e3d2d2; }

/* Error */
.highlight .esc {
  color: #323232; }

/* Escape */
.highlight .g {
  color: #323232; }

/* Generic */
.highlight .k {
  color: #3a4582; }

/* Keyword */
.highlight .l {
  color: #8e5845; }

/* Literal */
.highlight .n {
  color: #323232; }

/* Name */
.highlight .o {
  color: #323232; }

/* Operator */
.highlight .x {
  color: #323232; }

/* Other */
.highlight .p {
  color: #323232; }

/* Punctuation */
.highlight .ch {
  color: #6680b1; }

/* Comment.Hashbang */
.highlight .cm {
  color: #6680b1; }

/* Comment.Multiline */
.highlight .cp {
  color: #6680b1; }

/* Comment.Preproc */
.highlight .cpf {
  color: #6680b1; }

/* Comment.PreprocFile */
.highlight .c1 {
  color: #6680b1; }

/* Comment.Single */
.highlight .cs {
  color: #6680b1; }

/* Comment.Special */
.highlight .gd {
  color: #323232; }

/* Generic.Deleted */
.highlight .ge {
  color: #323232; }

/* Generic.Emph */
.highlight .gr {
  color: #323232; }

/* Generic.Error */
.highlight .gh {
  color: #323232; }

/* Generic.Heading */
.highlight .gi {
  color: #323232; }

/* Generic.Inserted */
.highlight .go {
  color: #323232; }

/* Generic.Output */
.highlight .gp {
  color: #323232; }

/* Generic.Prompt */
.highlight .gs {
  color: #323232; }

/* Generic.Strong */
.highlight .gu {
  color: #323232; }

/* Generic.Subheading */
.highlight .gt {
  color: #323232; }

/* Generic.Traceback */
.highlight .kc {
  color: #3a4582; }

/* Keyword.Constant */
.highlight .kd {
  color: #3a4582; }

/* Keyword.Declaration */
.highlight .kn {
  color: #3a4582; }

/* Keyword.Namespace */
.highlight .kp {
  color: #3a4582; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #3a4582; }

/* Keyword.Reserved */
.highlight .kt {
  color: #3a4582; }

/* Keyword.Type */
.highlight .na {
  color: #323232; }

/* Name.Attribute */
.highlight .nb {
  color: #323232; }

/* Name.Builtin */
.highlight .nc {
  color: #323232; }

/* Name.Class */
.highlight .no {
  color: #323232; }

/* Name.Constant */
.highlight .nd {
  color: #323232; }

/* Name.Decorator */
.highlight .ni {
  color: #323232; }

/* Name.Entity */
.highlight .ne {
  color: #323232; }

/* Name.Exception */
.highlight .nf {
  color: #323232; }

/* Name.Function */
.highlight .nl {
  color: #323232; }

/* Name.Label */
.highlight .nn {
  color: #323232; }

/* Name.Namespace */
.highlight .nx {
  color: #323232; }

/* Name.Other */
.highlight .py {
  color: #323232; }

/* Name.Property */
.highlight .nt {
  color: #323232; }

/* Name.Tag */
.highlight .nv {
  color: #323232; }

/* Name.Variable */
.highlight .bp {
  color: #323232; }

/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #323232; }

/* Name.Function.Magic */
.highlight .vc {
  color: #323232; }

/* Name.Variable.Class */
.highlight .vg {
  color: #323232; }

/* Name.Variable.Global */
.highlight .vi {
  color: #323232; }

/* Name.Variable.Instance */
.highlight .vm {
  color: #323232; }

/* Name.Variable.Magic */
.highlight .ow {
  color: #323232; }

/* Operator.Word */
.highlight .w {
  color: #8e5845; }

/* Text.Whitespace */
.highlight .ld {
  color: #8e5845; }

/* Literal.Date */
.highlight .m {
  color: #8e5845; }

/* Literal.Number */
.highlight .s {
  color: #8e5845; }

/* Literal.String */
.highlight .mb {
  color: #8e5845; }

/* Literal.Number.Bin */
.highlight .mf {
  color: #8e5845; }

/* Literal.Number.Float */
.highlight .mh {
  color: #8e5845; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #8e5845; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #8e5845; }

/* Literal.Number.Oct */
.highlight .sa {
  color: #8e5845; }

/* Literal.String.Affix */
.highlight .sb {
  color: #8e5845; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #8e5845; }

/* Literal.String.Char */
.highlight .dl {
  color: #8e5845; }

/* Literal.String.Delimiter */
.highlight .sd {
  color: #8e5845; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #8e5845; }

/* Literal.String.Double */
.highlight .se {
  color: #8e5845; }

/* Literal.String.Escape */
.highlight .sh {
  color: #8e5845; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #8e5845; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #8e5845; }

/* Literal.String.Other */
.highlight .sr {
  color: #8e5845; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #8e5845; }

/* Literal.String.Single */
.highlight .ss {
  color: #8e5845; }

/* Literal.String.Symbol */
.highlight .il {
  color: #8e5845; }

/* Literal.Number.Integer.Long */
@page {
  margin: 2cm; }
@media print {
  body {
    font-size: 120%;
    color: black; }

  h1, h2, h3, h4, h5, p, li {
    color: black; }

  h1 {
    font-size: 180%; }

  h2 {
    font-size: 150%; }

  h3 {
    font-size: 130%; }

  .container, .content {
    width: 100%;
    max-width: 100%;
    padding: 0; }

  .extra-padding {
    padding: 0; }

  .row {
    margin: 0; }

  .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%; }

  pre.highlight {
    font-size: 70%; }

  #sidebar-sep, #sidebar {
    display: none; }

  footer {
    display: none; }

  .breadcrumb {
    display: none; } }
